# API Configuration
VITE_API_URL=http://localhost:8000/api

# Stripe Configuration
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51Rff8gQLCO1WKCZZ6fywgQWTJY6EbOXRsxGcp1PTTXjbw7GeFfFiNfsJVrIIyEGlyURV2xXHXmud4myEPkZOziId00H33hA0pR

# Development Configuration
VITE_DEV_MODE=true 